<!DOCTYPE html>
<body>
	<p>
		Hi @Model.ClientFirstName,
	</p>

	<p>
		@Model.CarerFirstName has rejected the booking request you sent her for @Model.BookingStart.
	</p>

	<p>
		<a href="@Model.CallbackURL/client/booking/?bookingId=@Model.BookingID">View the booking here</a>.
	</p>

	<p>
		Regards,<br />
		My Ability First
	</p>
</body>