<!DOCTYPE html>
<body>
	<p>
		Hi @Model.CarerFirstName,
	</p>

	<p>
		@Model.ClientFirstName has cancelled his/her booking on @Model.BookingStart with you.
	</p>

	<p>
		<a href="@Model.CallbackURL/careworker/booking/?bookingId=@Model.BookingID">View the original request here</a>.
	</p>

	<p>
		Regards,<br />
		My Ability First
	</p>
</body>
