<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<!-- Encrypt your connection strings (See https://msdn.microsoft.com/en-us/library/dtkwfdky.aspx). -->
	<add
		name="MyAbilityFirstDbContext"
		connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MAF_dev_sms;Integrated Security=SSPI; MultipleActiveResultSets=true;"
		providerName="System.Data.SqlClient"
		/>
</connectionStrings>